@import 'partials/normalize';
@import 'partials/fontello';
@import "compass";


html, body {
	height: 100%;
	margin: 0 auto;
	font-size: 14px;
	font-family: 'Helvetica', sans-serif;
	@media screen and (max-width: 760px) {
	    font-size: 10px;	    
	 }
}


header {
	@include background-image(linear-gradient(-40deg, rgba(189, 39, 89, 0.97) 10%, rgba(216, 78, 67, 1))
							  );
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	position: relative;


	 @media screen and (max-height: 760px) {
	    height: 700px;
	 }

	 
	  
	.header-wrapper {
		padding: 4% 7%;

		h1{
			margin: 0;
			display: inline-block;
			color: rgba(white, 1);
			margin-top: 29px;
			font-size: 4.2rem;
			font-weight: 300;
			@media screen and (max-width: 850px) {
				    font-size: 2.9rem;
			}
			
			a{
				font-size: 1.2rem;
				text-decoration: none;
				font-weight: 300;
				color: rgba(white, 0.85);
				font-style: italic;
				&:hover {
					cursor: inherit;
				}
			}
		}

		a {
			color: rgba(white, 0.85);
			text-decoration: none;
		}

		.iwant-devices {
			width: 50%;
			height: 100%;
			left: 3%;
			bottom: 0;
			background-image: url('../img/iwant-devices-min.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: left 45%;
			position: absolute;


			@media screen and (max-width: 628px) {
			    float: left;
			    position: static;	
			  	margin-top: 20px; 
			    display: block;
			    width: 100%;
			    height: 330px;;
			   
				background-position: -20px;
			}
		}

		.simplify {
			position: absolute;
			@media screen and (max-width: 628px) {
				    float: left;
				    position: static;	    
			}
			top: 28%;
			left: 52%;
			right: 6%;
			h2 {
				margin: 2rem 0 ;
				font-weight: 300;
				font-size: 2.1rem;
				color: rgba(white, 1);
				 @media screen and (max-width: 1350px) {
				    margin: 0rem;
				    margin-top: 1rem;
				    
				}
			}

			h3 {
				color: rgba(white, .85);
				font-weight: 300;
			}
			p{
				@extend h2;
				font-size: 1rem;
			}
			.badge{
				color: rgba(white, .95);
				border: 2px solid rgba(white, .85);
				border-radius: 100%;
				padding: 24px 21px;
				font-size: 2.9rem;
				margin: 4.5rem .8rem 0 0;
				display: inline-block;
				transition: all 0.5s;
				&:hover{
					color: rgba(white, 1);
					border: 2px solid rgba(white, 1);
					box-shadow: 0px 0px 5px 0px rgba(white,0.55);
					text-shadow: 0px 0px 25px rgba(white,.8);
				}
				@media screen and (max-width: 1350px) {
				    margin-top: 1rem;
				}
				@media screen and (max-width: 628px) {
				    margin-left: 16px;
				    position: static;	    
				}
				@media screen and (max-height: 760px) {
				   padding: 24px 22px;
				 }
			}
		} // simplify
	} // header-wrapper
} // header

.container {
	font-family: 'Lato', sans-serif;
	padding: 10% 15% 3%;
	color: white;
	background-image: url('../img/nightsky-blur.jpg');
	background-position: left;
	background-position: no-repeat;
	background-size: cover;


	
	p {
		font-weight: 100;
		margin-left:  32%;
		font-size: 1.4rem;
		line-height: 1.3;
		span.aint {
			opacity: 0.6;
			position: relative;
			transition: all 12s;
			&:after {
				content:"Ain't nobody got time for that.";
				font-family: Helvetica, sans-serif;
				position: absolute;
				text-transform: uppercase;
				left: 0;
				bottom: 0;
				width: 130px;
				color: black;
				font-weight: 400;
				padding: 4px;
				background-color: white;
				font-size: 0.7rem;
				border-radius: 1px;
				visibility: hidden;
				opacity: 0;
				transition: all 0.2s ease;
			}
			&:hover:after{
				visibility: visible;
				opacity: 1;
			}
		}
		@media screen and (max-width: 800px) {
			margin-left: 0; 
		}

	}
	h2 {
		margin: 0;
		margin-bottom: 5rem;
		font-weight: 300;
		font-size: 4.5rem;
		width: 80%;
		opacity: 0.85;
		@media screen and (max-width: 800px) {
			width: 100%;
			font-size: 3.3rem;
		}
	}
	blockquote {
		font-style: italic;
		font-weight: 300;
		text-indent: -0.2em;
		margin: 3.8rem 0 3rem 0% ;
		width: 45%;
		margin-left: 29.5%;
		// font-family: 'Merriweather', serif;
		font-size: 2.3rem;
		// opacity: 0.75;
		// padding-left: 140px;
		// background-image: url('../img/app-icon.png');
		background-position: left bottom;
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 0.80;
		@media screen and (max-width: 800px) {
			width: 100%;
			margin-left: 0;
		}
	}

	.appicon {
		margin-top: 20px;
		font-style: italic;
		opacity: 0.95;
		padding-left: 45px;
		display: inline-block;
		background-image: url('../img/app-icon.png');
		background-size:contain;
		background-position: 8px bottom;
		background-repeat: no-repeat;
	}

	a.store {
		display: inline-block;	
		margin-top: 20px;
		margin-right: 5px;
		background-size: contain;
		background-position: bottom;
		background-repeat: no-repeat;
		overflow: visible;
	}
	.itunes {
		background-image: url('../img/appStore_badge.svg');
		width: 138px;
		height:  40px;
		opacity: 0.9;
	}

	.play {
		background-image: url('../img/android_badge.png');
		width: 118px;
		height: 40px;
		opacity: 0.9;
	}


	footer {
		padding-top: 3rem;
		p {
			font-size: 1rem;
			opacity: 0.2;
			line-height: 1.1;
			a { 
				color: white;		
			}
		}
	}
}



